In [2]:
import pandas as pd
import numpy as np

In [3]:
directory = '/Users/matth/Documents/MCIT/CIS5500/Project/Project-Data'
filePath = directory + '/2010-ACS-Median-Income-by-CT/2010-ACS-Median-Income-by-CT-S1903-Data.csv'
medianIncome2010 = pd.read_csv(filePath)

filePath = directory + '/2015-ACS-Median-Income-by-CT/2015-ACS-Median-Income-by-CT-S1903-Data.csv'
medianIncome2015 = pd.read_csv(filePath)

filePath = directory + '/2010-Race-by-CT/2010-Race-by-CT-P3-Data.csv'
race = pd.read_csv(filePath)

filePath = directory + '/2010-Hisp-or-Lat-Origin-by-CT/2010-Hisp-or-Lat-Origin-by-CT-P4-Data.csv'
hispLat = pd.read_csv(filePath)

filePath = directory + '/2010-Sex-by-Age-by-CT/2010-Sex-by-Age-by-CT-P12-Data.csv'
sexByAge = pd.read_csv(filePath)

filePath = directory + '/2010-Household-Size-by-CT/2010-Household-Size-by-CT-P28-Data.csv'
household_size = pd.read_csv(filePath)

In [4]:
medianIncome2010 = medianIncome2010.filter(regex='^(?!Annotation of)[\w \(\)]+(?:!!(?!Margin of Error)[\w \(\)]+!!.*)?$')
medianIncome2010 = medianIncome2010.take([0,1,2,3],1)

In [5]:
medianIncome2015 = medianIncome2015.filter(regex='^(?!Annotation of)[\w \(\)]+(?:!!(?!Margin of Error)[\w \(\)]+!!.*)?$')
medianIncome2015 = medianIncome2015.take([0,1,2,3],1)

In [6]:
race = race.filter(regex='^(?!Errata of Total).*$')

In [7]:
hispLat = hispLat.filter(regex='^(?!Errata of Total).*$')

In [8]:
age0to9 = sexByAge.get(['Total!!Male!!Under 5 years', 'Total!!Male!!5 to 9 years', 'Total!!Female!!Under 5 years', 'Total!!Female!!5 to 9 years' ])
sexByAge = sexByAge.drop(columns=['Total!!Male!!Under 5 years', 'Total!!Male!!5 to 9 years', 'Total!!Female!!Under 5 years', 'Total!!Female!!5 to 9 years' ])

In [9]:
age10to17 = sexByAge.get(['Total!!Male!!10 to 14 years', 'Total!!Male!!15 to 17 years', 'Total!!Female!!10 to 14 years', 'Total!!Female!!15 to 17 years' ])
sexByAge = sexByAge.drop(columns=['Total!!Male!!10 to 14 years', 'Total!!Male!!15 to 17 years', 'Total!!Female!!10 to 14 years', 'Total!!Female!!15 to 17 years' ])

In [10]:
age18to29 = sexByAge.get(['Total!!Male!!18 and 19 years', 'Total!!Male!!20 years', 'Total!!Male!!21 years', 'Total!!Male!!22 to 24 years', 'Total!!Male!!25 to 29 years', 'Total!!Female!!18 and 19 years', 'Total!!Female!!20 years', 'Total!!Female!!21 years', 'Total!!Female!!22 to 24 years', 'Total!!Female!!25 to 29 years' ])
sexByAge = sexByAge.drop(columns=['Total!!Male!!18 and 19 years', 'Total!!Male!!20 years', 'Total!!Male!!21 years', 'Total!!Male!!22 to 24 years', 'Total!!Male!!25 to 29 years', 'Total!!Female!!18 and 19 years', 'Total!!Female!!20 years', 'Total!!Female!!21 years', 'Total!!Female!!22 to 24 years', 'Total!!Female!!25 to 29 years' ])

In [11]:
age30to39 = sexByAge.get(['Total!!Male!!30 to 34 years', 'Total!!Male!!35 to 39 years', 'Total!!Female!!30 to 34 years', 'Total!!Female!!35 to 39 years' ])
sexByAge = sexByAge.drop(columns=['Total!!Male!!30 to 34 years', 'Total!!Male!!35 to 39 years', 'Total!!Female!!30 to 34 years', 'Total!!Female!!35 to 39 years' ])

In [12]:
age40to49 = sexByAge.get(['Total!!Male!!40 to 44 years', 'Total!!Male!!45 to 49 years', 'Total!!Female!!40 to 44 years', 'Total!!Female!!45 to 49 years' ])
sexByAge = sexByAge.drop(columns=['Total!!Male!!40 to 44 years', 'Total!!Male!!45 to 49 years', 'Total!!Female!!40 to 44 years', 'Total!!Female!!45 to 49 years' ])

In [13]:
age50to59 = sexByAge.get(['Total!!Male!!50 to 54 years', 'Total!!Male!!55 to 59 years', 'Total!!Female!!50 to 54 years', 'Total!!Female!!55 to 59 years' ])
sexByAge = sexByAge.drop(columns=['Total!!Male!!50 to 54 years', 'Total!!Male!!55 to 59 years', 'Total!!Female!!50 to 54 years', 'Total!!Female!!55 to 59 years' ])

In [14]:
age60to69 = sexByAge.get(['Total!!Male!!60 and 61 years', 'Total!!Male!!62 to 64 years', 'Total!!Male!!65 and 66 years', 'Total!!Male!!67 to 69 years', 'Total!!Female!!60 and 61 years', 'Total!!Female!!62 to 64 years', 'Total!!Female!!65 and 66 years', 'Total!!Female!!67 to 69 years'])
sexByAge = sexByAge.drop(columns=['Total!!Male!!60 and 61 years', 'Total!!Male!!62 to 64 years', 'Total!!Male!!65 and 66 years', 'Total!!Male!!67 to 69 years', 'Total!!Female!!60 and 61 years', 'Total!!Female!!62 to 64 years', 'Total!!Female!!65 and 66 years', 'Total!!Female!!67 to 69 years'])

In [15]:
age70to79 = sexByAge.get(['Total!!Male!!70 to 74 years', 'Total!!Male!!75 to 79 years', 'Total!!Female!!70 to 74 years', 'Total!!Female!!75 to 79 years' ])
sexByAge = sexByAge.drop(columns=['Total!!Male!!70 to 74 years', 'Total!!Male!!75 to 79 years', 'Total!!Female!!70 to 74 years', 'Total!!Female!!75 to 79 years' ])

In [16]:
age80Plus = sexByAge.get(['Total!!Male!!80 to 84 years', 'Total!!Male!!85 years and over', 'Total!!Female!!80 to 84 years', 'Total!!Female!!85 years and over' ])
sexByAge = sexByAge.drop(columns=['Total!!Male!!80 to 84 years', 'Total!!Male!!85 years and over', 'Total!!Female!!80 to 84 years', 'Total!!Female!!85 years and over' ])

In [17]:
sexByAge = sexByAge.drop(columns=['Errata of Total'])
sexByAge = sexByAge.rename(columns={'Total': 'total', 'Total!!Male': 'male', 'Total!!Female': 'female'})

In [18]:
totalAge0to9 = age0to9.sum(axis=1)
totalAge10to17 = age10to17.sum(axis=1)
totalAge18to29 = age18to29.sum(axis=1)
totalAge30to39 = age30to39.sum(axis=1)
totalAge40to49 = age40to49.sum(axis=1)
totalAge50to59 = age50to59.sum(axis=1)
totalAge60to69 = age60to69.sum(axis=1)
totalAge70to79 = age70to79.sum(axis=1)
totalAge80Plus = age80Plus.sum(axis=1)

In [19]:
age_sex = sexByAge
age_sex.insert(len(age_sex.columns), 'age_0_9', totalAge0to9)
age_sex.insert(len(age_sex.columns), 'age_10_17', totalAge10to17)
age_sex.insert(len(age_sex.columns), 'age_18_29', totalAge18to29)
age_sex.insert(len(age_sex.columns), 'age_30_39', totalAge30to39)
age_sex.insert(len(age_sex.columns), 'age_40_49', totalAge40to49)
age_sex.insert(len(age_sex.columns), 'age_50_59', totalAge50to59)
age_sex.insert(len(age_sex.columns), 'age_60_69', totalAge60to69)
age_sex.insert(len(age_sex.columns), 'age_70_79', totalAge70to79)
age_sex.insert(len(age_sex.columns), 'age_80_plus', totalAge80Plus)

In [20]:
geoid = age_sex.pop('GEO_ID').apply(lambda x: x[9:])
age_sex.insert(0, 'geo_id', geoid)

geo = age_sex.pop('Geographic Area Name').apply(lambda x: x.split(', ')).to_list()
geodf = pd.DataFrame(geo, columns=['tract','county','state']).drop(columns='tract')
age_sex.insert(1, 'county', geodf.get('county'))
age_sex.insert(2, 'state', geodf.get('state'))

# age_sex is done

In [21]:
geoid = hispLat.pop('GEO_ID').apply(lambda x: x[9:])
hispLat.insert(0, 'geo_id', geoid)

geo = hispLat.pop('Geographic Area Name').apply(lambda x: x.split(', ')).to_list()
geodf = pd.DataFrame(geo, columns=['tract','county','state']).drop(columns='tract')
hispLat.insert(1, 'county', geodf.get('county'))
hispLat.insert(2, 'state', geodf.get('state'))

hispLat.rename(columns={'Total':'total', 'Total!!Not Hispanic or Latino':'total_not_hisp_lat', 'Total!!Hispanic or Latino': 'total_hisp_lat'}, inplace=True)

In [22]:
geoid = race.pop('GEO_ID').apply(lambda x: x[9:])
race.insert(0, 'geo_id', geoid)

geo = race.pop('Geographic Area Name').apply(lambda x: x.split(', ')).to_list()
geodf = pd.DataFrame(geo, columns=['tract','county','state']).drop(columns='tract')
race.insert(1, 'county', geodf.get('county'))
race.insert(2, 'state', geodf.get('state'))

race.rename(columns={'Total':'total', 'Total!!White alone':'total_white', 'Total!!Black or African American alone': 'total_black_aa', 'Total!!American Indian and Alaska Native alone':'total_indigenous', 'Total!!Asian alone':'total_asian', 'Total!!Native Hawaiian and Other Pacific Islander alone': 'total_hawaiian_pacific', 'Total!!Some Other Race alone': 'total_other', 'Total!!Two or More Races': 'total_multi'}, inplace=True)

In [23]:
race_ethnicity = race.merge(hispLat, on=['geo_id', 'county', 'state', 'total'])
# race_ethnicity done

In [24]:
geoid = medianIncome2015.pop('GEO_ID').apply(lambda x: x[9:])
medianIncome2015.insert(0, 'geo_id', geoid)

geo = medianIncome2015.pop('Geographic Area Name').apply(lambda x: x.split(', ')).to_list()
geodf = pd.DataFrame(geo, columns=['tract','county','state']).drop(columns='tract')
medianIncome2015.insert(1, 'county', geodf.get('county'))
medianIncome2015.insert(2, 'state', geodf.get('state'))

medianIncome2015.rename(columns={'Total!!Estimate!!Households': 'est_households_2015', 'Median income (dollars)!!Estimate!!Households':'est_med_income_2015'}, inplace=True)

In [25]:
geoid = medianIncome2010.pop('GEO_ID').apply(lambda x: x[9:])
medianIncome2010.insert(0, 'geo_id', geoid)

geo = medianIncome2010.pop('Geographic Area Name').apply(lambda x: x.split(', ')).to_list()
geodf = pd.DataFrame(geo, columns=['tract','county','state']).drop(columns='tract')
medianIncome2010.insert(1, 'county', geodf.get('county'))
medianIncome2010.insert(2, 'state', geodf.get('state'))

medianIncome2010.rename(columns={'Total!!Estimate!!Households': 'est_households_2010', 'Median income (dollars)!!Estimate!!Households':'est_med_income_2010'}, inplace=True)

In [26]:
income = medianIncome2010.merge(medianIncome2015, on=['geo_id', 'county', 'state'], how='outer')
# income done

In [27]:
household_size.drop(columns='Errata of Total', inplace=True)

geoid = household_size.pop('GEO_ID').apply(lambda x: x[9:])
household_size.insert(0, 'geo_id', geoid)

geo = household_size.pop('Geographic Area Name').apply(lambda x: x.split(', ')).to_list()
geodf = pd.DataFrame(geo, columns=['tract','county','state']).drop(columns='tract')
household_size.insert(1, 'county', geodf.get('county'))
household_size.insert(2, 'state', geodf.get('state'))

household_size.rename(columns={'Total':'total_households', 'Total!!Family households': 'total_family', 'Total!!Family households!!2-person household':'family_2', 'Total!!Family households!!3-person household':'family_3', 'Total!!Family households!!4-person household':'family_4', 'Total!!Family households!!5-person household':'family_5', 'Total!!Family households!!6-person household':'family_6', 'Total!!Family households!!7-or-more-person household':'family_7_plus', 'Total!!Nonfamily households': 'total_nonfamily', 'Total!!Nonfamily households!!1-person household':'nonfamily_1', 'Total!!Nonfamily households!!2-person household':'nonfamily_2', 'Total!!Nonfamily households!!3-person household':'nonfamily_3', 'Total!!Nonfamily households!!4-person household':'nonfamily_4', 'Total!!Nonfamily households!!5-person household':'nonfamily_5', 'Total!!Nonfamily households!!6-person household':'nonfamily_6', 'Total!!Nonfamily households!!7-or-more-person household':'nonfamily_7_plus'}, inplace=True)

In [28]:
age_sex_locations = pd.DataFrame(age_sex.get(['geo_id', 'county', 'state']))
race_ethnicity_locations = pd.DataFrame(race_ethnicity.get(['geo_id', 'county', 'state']))
household_size_locations = pd.DataFrame(household_size.get(['geo_id', 'county', 'state']))
income_locations = pd.DataFrame(income.get(['geo_id', 'county', 'state']))

location = age_sex_locations.merge(race_ethnicity_locations, how='outer', sort=True).merge(household_size_locations, how='outer', sort=True).merge(income_locations, how='outer', sort=True)

In [29]:
age_sex.drop(columns=['county', 'state'], inplace=True)
race_ethnicity.drop(columns=['county', 'state'], inplace=True)
household_size.drop(columns=['county', 'state'], inplace=True)
income.drop(columns=['county', 'state'], inplace=True)

In [30]:
age_sex.to_csv('age_sex.csv', index=False)
race_ethnicity.to_csv('race_ethnicity.csv', index=False)
household_size.to_csv('household_size.csv', index=False)
income.to_csv('income.csv', index=False)
location.to_csv('location.csv', index=False)